* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #121214;
    --base-color: 194;
    --primary-color: hsla(var(--base-color), 100%, 63%);
    --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
    --text-color: #FFF;
    font-size: 62.5%;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    display: grid;
    min-height: 100vh;
}

main {
    align-self: end;
    justify-self: center;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.hide {
    display: none;
}

.play svg path,
.pause svg path,
.sound-on svg path{
    fill: var(--primary-color);
}

button svg {
    width: clamp(3.2rem, 2rem +12vw, 6.4rem);
}

#timer {
    font-size: clamp(4rem, 4rem + 10vw, 8.8rem);
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 1.6rem;
}

#controls {
    background: var(--bg-primary-light);
    display: flex;
    gap: 3.2rem;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    width: clamp(10rem, 10rem + 30vw, 28.8rem);
    height: clamp(8rem, 5rem + 10vw, 10.8rem);
}

footer {
    align-self: end;
    justify-self: end;
    padding: 0 4rem 3.2rem 0;
}