* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 65px 122px 30px;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 58px;
}

#logo {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px; 
    color: #89C5CC;
    cursor: pointer;
}

header ul {
    display: flex;
    gap: 48px;
    list-style: none;
}

header li a {
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    font-size: 18px;
    line-height: 23px;
    color: #1F1534;
    opacity: 0.5;
}

header li a:hover {
    font-weight: 700;
    color: #1F1534;
    opacity: 1;
}

main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 82px;
}

main .description {
    width: 438px;
}

.description h1 {
    font-weight: 400;
    font-size: 49px;
    line-height: 56px;
    margin-bottom: 40px;
}

.description h1 span {
    font-weight: 700;
    color: #89C5CC;
}

.description p {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #7D7987;
    margin-bottom: 40px;
}

.description button {
    padding: 15px 32px;
    background: #69B99D;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFF;
    transition: background .3s
}

.description button:hover {
    background: #58a58b;
}

footer {
    margin: auto;
    text-align: center;
}

footer p {
    font-size: 14px;
    line-height: 28px;
    color: #000;
}

footer a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

footer a:hover {
    text-decoration: underline;
}

footer img {
    position: fixed;
    bottom: 0;
    right: 0;
}